# 忽略检查点文件夹
checkpoints/

# 忽视ewc参数文件
ewc_params/

# 忽视gem_memory
gem_memory/

# 忽视doc
doc/

# 忽略 Python 编译后的文件
*.pyc

# 忽略 PyCharm 项目文件
.idea/

# 忽视log
*.log
log/

# 忽视图片文件
*.png
*.jpg
*.jpeg

# 忽视模型文件
*.pt

# 忽略压缩文件
*.zip

# 忽视数据
data/img/
data/twitter2015_images/
data/twitter2017_images/
data/mix.zip
data/mix_mnre_1819/

**/__pycache__/
downloaded_model/

.vscode/

AAAI26_paper/

analysis_results/
